/* Контейнер для основной области: доска и информация по игре */
.content-container {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    margin: 20px;
    gap: 18px;
}

/* Стили для контейнера доски */
.board-container {
    background-color: #E0E0E0;
    border-radius: 10px;
    padding: 15px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

/* Стили для бокового меню с информацией по игре */
.game-info {
    background-color: #E0E0E0;
    border-radius: 8px;
    padding: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    max-width: 220px;
    width: 100%;
    color: #333;
}


    .game-info h2 {
        margin-bottom: 15px;
        color: #333;
    }

#timers-list {
    list-style: none;
    padding: 0;
}

    #timers-list li {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 8px 0;
        border-bottom: 1px solid #ccc;
    }

        #timers-list li:last-child {
            border-bottom: none;
        }

.timer-label {
    font-weight: bold;
}

.timer-value {
    font-family: monospace;
    min-width: 50px;
    text-align: right;
}

/* Цветовые акценты */
#timer-White {
    color: rgb(255,255,255);
    text-shadow: 0 0 3px #000;
}

#timer-Black {
    color: rgb(0,0,0);
}

#timer-Red {
    color: rgb(176,69,71);
}


svg {
    
}

.cell-white {
    fill: #b58863;
    stroke: #000;
    stroke-width: 2;
    transition: all 0.3s ease;
}

    .cell-white:hover {
        filter: brightness(90%);
        cursor: pointer;
    }

.cell-black {
    fill: #f0d9b5;
    stroke: #000;
    stroke-width: 2;
    transition: all 0.3s ease;
}

    .cell-black:hover {
        filter: brightness(90%);
        cursor: pointer;
    }

.cell-label {
    font-family: Arial, sans-serif;
    font-size: 14px;
    fill: #5d432c;
    text-anchor: middle;
    dominant-baseline: central;
    pointer-events: none;
    user-select: none;
}

.cell-figure {
    pointer-events: none;
    user-select: none;
}

.cell-highlighted {
    fill: #a9d18e;
    cursor: pointer;
}

.cell-capture-highlight {
    fill: #e06666;
    cursor: pointer;
}

/* Responsive стили */
@media (max-width: 768px) {
    .content-container {
        flex-direction: column;
        align-items: center;
    }

    .game-info {
        max-width: 90%;
        margin-top: 20px;
    }
}

@media (max-width: 480px) {
    header {
        flex-direction: column;
        align-items: flex-start;
    }
}
